/* syntax */

.highlight .hll {
  background-color: #333333;
}
.highlight {
  color: #ffffff;
}
.highlight .c,
.highlight .cm,
.highlight .cp,
.highlight .c1,
.highlight .cs {
  color: #f27d7d;
  font-style: italic;
}
.highlight .err {
  color: #ffffff;
}
.highlight .g,
.highlight .gd,
.highlight .ge,
.highlight .gr,
.highlight .gh,
.highlight .gi,
.highlight .gp,
.highlight .gs,
.highlight .gt {
  color: #ffffff;
}
.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr {
  color: #ff8a3d;
  font-weight: bold;
}
.highlight .kt {
  color: #ffe2b3;
  font-weight: bold;
}
.highlight .l,
.highlight .n,
.highlight .o,
.highlight .x,
.highlight .p,
.highlight .nb,
.highlight .nc,
.highlight .nd,
.highlight .ni,
.highlight .ne,
.highlight .nl,
.highlight .nn,
.highlight .nx,
.highlight .py,
.highlight .ow {
  color: #ffffff;
}
.highlight .m,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo,
.highlight .il {
  color: #ff9c42;
  font-weight: bold;
}
.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx,
.highlight .sr,
.highlight .s1,
.highlight .ss {
  color: #ffc25e;
}
.highlight .na,
.highlight .nf {
  color: #ff5b5c;
  font-weight: bold;
}
.highlight .no {
  color: #ffc25e;
}
.highlight .nt,
.highlight .nv,
.highlight .vc,
.highlight .vg,
.highlight .vi {
  color: #ff8a3d;
}
.highlight .nt {
  font-weight: bold;
}
.highlight .bp {
  color: #ffffff;
}
.highlight .go {
  color: #444444;
  background-color: #222222;
}
.highlight .w {
  color: #888888;
}